body {
    display: block;
    min-width: 300px;
    min-height: 600px;
    background-color: #f7f78a;
}
/* iframe {
    width: 500px;
    height: 500px;
} */
header {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}
label {
    display: block;
}
#err {
    color: red;
    margin-top: 5px;
}

/* @keyframes lyricsPage {
    from {
        background-color: white;
    } 
    to {
        background-color: yellow;
    }
} */